@media (min-width: 320px) {

    .logo {
        width: 11.125rem;
        height: 11.125rem;
    }

    h1 {
        font-size: 1.438rem;
        text-align: center;
    }

    .constrution__img {
        width: 5.625rem;
        height: 5.625rem;
    }

    .loader {
        width: 1.875rem;
        height: 1.875rem;
    }
}

@media (min-width: 375px) {

    .logo {
        width: 11.125rem;
        height: 11.125rem;
    }

    h1 {
        font-size: 1.438rem;
        text-align: center;
    }

    .constrution__img {
        width: 5.625rem;
        height: 5.625rem;
    }

    .loader {
        width: 1.875rem;
        height: 1.875rem;
    }
}

@media (min-width: 425px) {
    
    .logo {
        width: 11.125rem;
        height: 11.125rem;
    }

    h1 {
        font-size: 1.438rem;
        text-align: center;
    }

    .constrution__img {
        width: 5.625rem;
        height: 5.625rem;
    }

    .loader {
        width: 1.875rem;
        height: 1.875rem;
    }
}

@media (min-width: 768px) {
    
    .logo {
        width: 13.125rem;
        height: 13.125rem;
    }

    h1 {
        font-size: 1.438rem;
        text-align: center;
    }

    .constrution__img {
        width: 5.625rem;
        height: 5.625rem;
    }

    .loader {
        width: 1.875rem;
        height: 1.875rem;
    }
    
    .midias{
        margin-top: -4.75rem;
    }
}

@media (min-width: 1024px) {
    
    .logo {
        width: 15.125rem;
        height: 15.125rem;
    }

    h1 {
        font-size: 1.438rem;
        text-align: center;
    }

    .constrution__img {
        width: 5.625rem;
        height: 5.625rem;
    }

    .loader {
        width: 1.875rem;
        height: 1.875rem;
    }

    .midias{
        margin-top: -3.75rem;
    }
}

@media (min-width: 1440px) {
    
    .logo {
        width: 20.125rem;
        height: 20.125rem;
    }

    h1 {
        font-size: 1.438rem;
        text-align: center;
    }

    .constrution__img {
        width: 5.625rem;
        height: 5.625rem;
    }

    .loader {
        width: 1.875rem;
        height: 1.875rem;
    }
}

@media (min-width: 2560px) {
    
    .logo {
        width: 25rem;
        height: 25rem;
    }

    h1 {
        font-size: 1.438rem;
        text-align: center;
    }

    .constrution__img {
        width: 5.625rem;
        height: 5.625rem;
    }

    .loader {
        width: 1.875rem;
        height: 1.875rem;
    }

    .midias{
        margin-top: -17.75rem;
    }
}