@media (max-width: 320px) {

    .logo {
        width: 18.125rem;
        height: 18.125rem;
    }

    h1 {
        font-size: 1.438rem;
        text-align: center;
    }

    .constrution__img {
        width: 5.625rem;
        height: 5.625rem;
    }

    .loader {
        width: 1.875rem;
        height: 1.875rem;
    }
}

@media (max-width: 375px) {

    .logo {
        width: 18.125rem;
        height: 18.125rem;
    }

    h1 {
        font-size: 1.438rem;
        text-align: center;
    }

    .constrution__img {
        width: 5.625rem;
        height: 5.625rem;
    }

    .loader {
        width: 1.875rem;
        height: 1.875rem;
    }
}

@media (max-width: 425px) {
    
    .logo {
        width: 18.125rem;
        height: 18.125rem;
    }

    h1 {
        font-size: 1.438rem;
        text-align: center;
    }

    .constrution__img {
        width: 5.625rem;
        height: 5.625rem;
    }

    .loader {
        width: 1.875rem;
        height: 1.875rem;
    }
}

@media (max-width: 768px) {
    
    .logo {
        width: 18.125rem;
        height: 18.125rem;
    }

    h1 {
        font-size: 1.438rem;
        text-align: center;
    }

    .constrution__img {
        width: 5.625rem;
        height: 5.625rem;
    }

    .loader {
        width: 1.875rem;
        height: 1.875rem;
    }
}

@media (min-width: 1024px) {
    
    .logo {
        width: 1490px;
        height: 490px;
    }

    h1 {
        font-size: 1.438rem;
        text-align: center;
    }

    .constrution__img {
        width: 5.625rem;
        height: 5.625rem;
    }

    .loader {
        width: 1.875rem;
        height: 1.875rem;
    }
}

@media (max-width: 1440px) {
    
    .logo {
        width: 18.125rem;
        height: 18.125rem;
    }

    h1 {
        font-size: 1.438rem;
        text-align: center;
    }

    .constrution__img {
        width: 5.625rem;
        height: 5.625rem;
    }

    .loader {
        width: 1.875rem;
        height: 1.875rem;
    }
}

@media (min-width: 2560px) {
    
    .logo {
        width: 25rem;
        height: 25rem;
    }

    h1 {
        font-size: 1.438rem;
        text-align: center;
    }

    .constrution__img {
        width: 5.625rem;
        height: 5.625rem;
    }

    .loader {
        width: 1.875rem;
        height: 1.875rem;
    }
}