* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Beaufort';
    src: url(../fonts/beaufort-for-lol/BeaufortforLOL-Bold.ttf) format(truetype);
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.blink {
    animation: blink 2s infinite;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: black;
}

.site__status,
.site__header,
.constrution__img,
h1,
img,
.loading__icon,
.logo__container,
.content__container {
    display: flex;
    justify-content: center;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 500px;
}

.site__header {
    justify-content: center;
    flex-direction: row;
    height: 100vh;
}

.content__container {
    flex-direction: column;
}

.title {
    display: flex;
    align-items: center;
}

.constrution__img {
    width: 120px;
    height: 120px;
    position: relative;
    z-index: 1;
    padding: 20px;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    color: white;
    align-items: flex-end;
    position: relative;
    z-index: 1;
}

.loading__icon {
    width: 100%;
}

.loader {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    height: 50px;
    width: 50px;
    animation: loading 1s ease-in-out infinite;
}

@keyframes loading {
    0% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}