/*============Configs Gerais============*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Beaufort';
    src: url(../fonts/beaufort-for-lol/BeaufortforLOL-Bold.ttf) format(truetype);
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes loading {
    0% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/*============Configs do Body============*/

body {
    flex-direction: column;
    background-color: black;
}

/*============Unificações============*/

body,
.site__header,
.content__container,
.title,
img,
.constrution__img,
h1,
.logo__container,
.logo,
.loading__icon,
.loader,
.midias {
    display: flex;
    justify-content: center;
}

body,
.title,
.logo,
.loader,
.midias {
    align-items: center;
}

/*============Conteúdo============*/

.site__header {
    flex-direction: row;
    height: 100vh;
}

.content__container {
    flex-direction: column;
    gap: 1.875rem;
}

.title {
    height: 0rem;
}

.title {
    align-items: center;
}

.blink {
    animation: blink 2s infinite;
}

.constrution__img {
    width: 7.5rem;
    height: 7.5rem;
    position: relative;
    z-index: 1;
    padding: 1.25rem;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 3.125rem;
    color: white;
    align-items: flex-end;
    position: relative;
    z-index: 1;
}

.logo {
    align-items: center;
    width: 31.25rem;
    height: 31.25rem;
}

.loading__icon {
    width: 100%;
}

.loader {
    align-items: center;
    z-index: 2;
    height: 3.125rem;
    width: 3.125rem;
    animation: loading 1s ease-in-out infinite;
}

.midias {
    gap: 2.5rem;
}

audio{
    height: 0rem;
    opacity: 0;
}